/* Course: SENG 513
Date: Oct 23, 2023
Assignment 1
Name: Liam Sarjeant
UCID: 30150737 */

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

/* .ibody {
    background-color: #202231;
} */

.v-center {
    position: relative;
    top: 12vh;
}

.justify-evenly {
    display: flex;
    justify-content: space-evenly;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.window-grid {
    display: grid;
    grid-template-columns: 1fr, 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "score-area score-area card-area card-area"
        "score-area score-area card-area card-area";
}

.red {
    background-color: red;
}

.score-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "orange-area"
        "purple-area";
}


.card-square {
    grid-area: card-area;
}

.score-square {
    grid-area: score-area;
}

.word-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.orange-square,
.purple-square {
    background: linear-gradient(45deg, #d3581f, #f4a74d);
    min-width: 300px;
    height: 100%;
    border-radius: 20px;
    grid-area: orange-area;
    border: 1px solid #fadb4f;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.purple-square {
    background: linear-gradient(45deg, #3f31ff, #7041ff);
    grid-area: purple-area;
    border: 1px solid #8a5fff;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.m-square {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}


.h-align-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.bg-wild-card-word,
.bg-orange-card-word,
.bg-purple-card-word,
.bg-black-card-word {
    background-color: #602b6d;
    border: 1px solid #602b6d;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bg-purple-card-word {
    background-color: #7041ff;
    border: 1px solid #7041ff;
}

.bg-orange-card-word {
    background-color: #d3581f;
    border: 1px solid #d3581f;
}

.bg-black-card-word {
    background-color: #1f3860;
    border: 1px solid #1f3860;
}

.score {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 25px;
    margin-right: 15%;
    margin-left: 15%;
    font-weight: 700;
}

.o-role-font,
.p-role-font,
.player-font {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #a93b08;
}

.p-role-font {
    color: #8476f1;
}

.player-font {
    font-weight: 500;
    color: white;
}

h3,
h4 {
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

h4 {
    font-size: x-large;
    color: black;
    /* padding-left: 10px; */
    text-align: center;
}

.card-shadow {
    box-shadow: 2px 5px 5px #0f112e;
}

.score-shadow {
    box-shadow: 10px 5px 5px #0f112e;
}

.cover {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.unknown-card {
    /* background-color: #7041ff; */
    background: linear-gradient(-45deg, #472151, #624185);
    min-width: 60px;
    width: 10vw;
    height: 12vh;
    border-radius: 10px;
    border: 2px solid #5f3191;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}


.orange-guessed-card,
.purple-guessed-card,
.wild-guessed-card,
.black-guessed-card {
    /* background-color: #25c0b7; */
    background: linear-gradient(-45deg, #d3581f, #f4a74d);
    min-width: 60px;
    width: 10vw;
    height: 12vh;
    border-radius: 10px;
    border: 1px solid #fadb4f;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.orange-guessed-card:hover {
    border: 3px solid #fadb4f;
}

.purple-guessed-card {
    background: linear-gradient(-45deg, #3f31ff, #7041ff);
    border: 1px solid #8a5fff;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.purple-guessed-card:hover {
    border: 3px solid #8a5fff;
}

.wild-guessed-card {
    background: linear-gradient(-45deg, #472151, #624185);
    border: 1px solid #5f3191;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.wild-guessed-card:hover,
.unknown-card:hover {
    border: 3px solid #892f63;
}

.black-guessed-card {
    background: linear-gradient(-45deg, #213555, #202231);
    border: 1px solid #4F709C;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.black-guessed-card:hover {
    border: 3px solid #4F709C;
}




.inset-shadow {
    box-shadow:
        12px 12px 16px 0 #00000000 inset,
        -8px -8px 12px 0 #00000040 inset;
}

.input-content {
    text-align: center;
    margin-top: 25px;
}

.input-font {
    font-family: 'Noto Sans', sans-serif;
    height: 45px;
    color: black;
    font-weight: 700;
}

.input-style,
#clue-dropdown,
.submit-btn,
.end-btn,
.bg-show-clue,
.bg-show-degree {
    width: 15vw;
    background-color: white;
    border: none;
    border-radius: 12px;
    text-align: start;
    padding-left: 10px;
}

.input-style {
    margin-right: 10px;
}

#clue-dropdown {
    width: 50px;
    text-align: center;
    padding-left: 0px;
}

.submit-btn {
    width: 100px;
    text-align: center;
    padding-left: 0px;
    color: white;
    background: linear-gradient(60deg, #5037ff, purple, orange);
    margin-left: 10px;
}

.end-btn {
    height: inherit;
    width: 100px;
    text-align: center;
    padding-left: 0px;
    color: white;
    background: linear-gradient(60deg, #5037ff, purple, orange);
    margin-left: 10px;
}

.submit-btn:hover, .end-btn:hover {
    border: 2px solid white;
}

.bg-show-clue {
    /* width: 15vw; */
    width: fit-content;
    padding-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.bg-show-degree {
    width: 50px;
    padding-left: 0px;
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.align-text {
    text-align: center;
    align-items: center;
}

/* .whose-turn {
    width: fit-content;
    text-align: center;
    margin-top: 25px;
} */


/* .text-show-clue {
    
} */

.background-blur,
.hide-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(30px);
}

.hide-background {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(100px);
}

.hidden {
    display: none;
}

.bruh {
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.game-over-bg {
    background-color: white;
    min-width: 30%;
    min-height: 32%;
    border-radius: 25px;
    margin: 10px;
}

.game-over-text {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    position: static;
    margin-top: 50px;
    margin-bottom: 10px;
}

.glow-shadow {
    box-shadow: 2px 3px 3px #5037ff, -2px -3px 3px #d3581f;
}

.orange-shadow {
    box-shadow: -2px -5px 5px #d3581f;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.footer-text {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-style: italic;
    position: relative;
    bottom: -25px;
}

.pattern,
.pattern2 {
    --s: 200px;
    /* control the size */
    --c: #23233588;
    /* first color */

    --_g: #0000 8%, var(--c) 0 17%, #0000 0 58%;
    background:
        linear-gradient(135deg, #0000 20.5%, var(--c) 0 29.5%, #0000 0) 0 calc(var(--s)/4),
        linear-gradient(45deg, var(--_g)) calc(var(--s)/2) 0,
        linear-gradient(135deg, var(--_g), var(--c) 0 67%, #0000 0),
        linear-gradient(45deg, var(--_g), var(--c) 0 67%, #0000 0 83%, var(--c) 0 92%, #0000 0),
        #202231;
    /* second color */
    background-size: var(--s) var(--s);
}

@media (max-width: 812px) {
    .window-grid {
        display: grid;
        grid-template-columns: 1fr, 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        grid-template-areas:
            "score-area score-area score-area score-area"
            "card-area card-area card-area card-area";
    }

}